body {
	font-family: sans-serif ;
	background: #110000 ;
	color: #ccc ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
  }
  
.navbar-item {
	margin-right: 20px;
  }
  
.navbar-link {
	text-decoration: underline;
	color: #ccc;
	font-weight: bold;
  }
  
.navbar-link:hover {
	color: #007BFF;
  }
  